<div class="ui centered card">

    <div class="content"><h1>Login</h1></div>

    <div class="content">
        <form class="ui form" action="" method="post">
            <div class="ui field">
                <input type="text" placeholder="username" name="username">
            </div>
            <div class="ui field">
                <input type="text" placeholder="phone" name="phone">
            </div>
            <button class="ui fluid positive button" type="submit">Log in</button>
        </form>
    </div>
</div>